color = #539DC2

.blockShadow
  box-shadow 0 .2em .3em .2em rgba(0,0,0,.1)

.sect
  color #222
  padding .5em
  background #eee
  overflow hidden
  display inline-flex
  flex-flow column
  align-items center
  h1
    margin 0
