@import url("http://fonts.googleapis.com/css?family=Rajdhani:400,600&amp;subset=latin,latin-ext");

sunWidth = 4em
elemsHeight = 24em
thermometerColor = #f42
borderRound()
	border-radius .25em
flexC()
	display flex
	justify-content center
	align-items center


animation()
	animation arguments
	-webkit-animation arguments
	-moz-animation arguments
	-o-animation arguments

	box-sizing border-box

.blockShadow
	box-shadow 0 .2em .3em .2em rgba(0,0,0,.1)
blockShadow()
	box-shadow 0 .2em .3em .2em rgba(0,0,0,.1)

*
	box-shadow border-box

a
	text-decoration none
	color inherit

body
	margin 1em 1.5em
	overflow-x hidden
	background #539DC2
	font-family 'Rajdhani', bold, sans-serif
	header
		@extend .blockShadow
		display flex
		overflow hidden
		flex-flow column
		border-radius .3em
		background linear-gradient(to right, rgba(83,157,194,.5) 65%,rgba(67,141,201,.5))
		#logo
			display flex
			#logoSun
				width sunWidth
				height sunWidth
				margin-left (sunWidth/4)
				margin-right (sunWidth/4)
				display block
				list-style none
				transform rotate(180deg)
				animation rotation 25s ease-in-out infinite
				li
					top 0
					left 0
					width 100%
					height 100%
					opacity 0.6
					position absolute
					background #fad335
					borderRound()
					&:nth-child(1)
						transform rotate(60deg)
					&:nth-child(2)
						transform rotate(30deg)
					&:nth-child(3)
						transform rotate(0deg)
					@keyframes rotation
						0%
							transform rotate(0deg)
			#title
				display flex
				flex-flow column
				justify-content center
				h1
					margin 0
					color #eee
					font-size 3.5em
		nav
			display flex
			list-style-type none
			background #eee
			padding .25em .5em
			a
				margin 0 .25em
				cursor pointer
				padding .2em;
				border .1em solid transparent
				border-radius .2em
				transition all .2s ease
				&:hover
					border .1em solid gold
					color #222
					background rgba(255,255,0,.05)
			.active
				border .1em solid gold
				color #222
.sect
	z-index -5
	color #222
	padding .5em
	background #eee
	overflow hidden
	display flex
	flex-flow column
	align-items center
	h1
		margin 0

.vial
	flexC()
	blockShadow()
	height elemsHeight
	width 6em
	background #fff
	border-radius 0 0 5em 5em
	position relative
	.measure
		top 2.5%
		height 85%
		position absolute
		display flex
		flex-flow column
		justify-content space-between
		.line
			height .11em
			margin-left .1em
			width 1em
			background #555;
		.boldLine
			width 1.5em
	.vialVal
		border-radius 0 0 5em 5em
		width 90%
		height 95%
		display flex
		align-items flex-end
		overflow hidden
		border-left .1em solid #ddd
		.rainVal
			background #09f
			height 50%
			width 100%
			@extend .blockShadow


.compassSect
	.compass
		flexC()
		blockShadow()
		width 13em
		height 13em
		background #ddd
		position relative
		border-radius 50%
		.arrow
			@extend .compassSect .compass
			width 80%
			height 80%
			background rgba(255,255,255,.75)
			border-radius 0 50% 50% 50%
			transform rotate(45deg)

#dashboard
	display flex
	margin .5em
	justify-content space-around
	h1
		color #333
		font-size 1.5em
	#windSect
		#currentCompass
			@extend .compassSect
		#gustCompass
			@extend .compassSect
	#rainSect
		@extend .sect
		justify-content space-around
		background none
	#forecastSect
		@extend .sect
		background none
		justify-content space-around
		#forecast3days
			@extend .sect, .blockShadow
		#forecast36hours
			@extend .sect, .blockShadow
