.DS_Store
prepros.cfg
web/*.html
web/css
web/js/build.js
*.log

viewsCompiled
node_modules
bower_components
libs
/.idea
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.hosts
.pid
