{% extends "base.html.twig" %}

{% block h1 %}
    <span style="float: right; font-size: 21px; color: #df1212">{{ name }}</span>
{% endblock %}

{% block big %}
    {{ alert.level_meteoalarm_description }}
{% endblock %}


{% block small %}
    {% autoescape false %}{{ alert.attribution }}{% endautoescape %}
{% endblock %}
