{% extends "SyntaxErrorApiBundle::base.html.twig" %}

{% block title %}WebSocket{% endblock %}

{% block content %}
    <article>
        <h3 class="justify-between">
            WeatherApi has PHP web-socket server.
            <span>You can write simple JS client instead of use XHR for basic json data.</span>
        </h3>

        <pre style="margin-top: 0">
            <code class="js">
                var conn = new WebSocket('wss://{{ app.request.server.get('HTTP_HOST') ~ "/socket" }}');
                conn.request = function() {
                    var date = new Date();
                    this.send( date.getTime()/1000 );
                    // You must send current timestamp in seconds for better update time calculation.
                };

                conn.onmessage = function(e) {
                    try {
                        var response = JSON.parse(e.data);
                        if(response.registered) {
                            console.log(response.registered);
                            // Response after this.request().
                            // example response = { wait: 299, delay: 0, absolute: false }
                            // wait is seconds to next update
                            // delay is calculated connection delay from your timestamp
                            // if delay is too lower or too higher absolute = true
                        } else {
                            // Response with weather basic json.
                            // Don't forget request for next update.
                            console.log(response);
                            this.request();
                        }
                    } catch(e) {
                        console.log(e.data);
                        // If response is not json it is error message.
                    }
                };
            </code>
        </pre>

    </article>
{% endblock %}

{% block head %}
    <style>
        article {
            color: #101010;
            background: #48a8f9;
            width: 90%;
            min-height: 70%;
            padding: 0 1em;
            border-radius: .2em;
        }

        article h3 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }

        article pre {
            width: 100%;
        }
    </style>
{% endblock %}
