doctype html
html
  include head
  body
    include header
    #dashboard
      include temp
      include json
        //h2 Szkoła Podstawowa - 51.051290N 18.11788E
    script(src="js/libs/jquery/dist/jquery.js")
    script(data-main="js/main.js" src="js/libs/requirejs/require.js")