doctype html
html
  head
    title Pogoda Skałągi
    meta(charset='utf-8')
    link(type='text/css', rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='js/libs/normalize.css/normalize.css')
    meta(name='description', content='Stacja pogodowa - meteo Skałągi w gminie Wołczyn, powiat Kluczborski, woj. opolskie. Aktualna pogoda, aktualizacja co 5min.')
    meta(name='keywords', content='stacja, meteo, pogodowa, pogoda, skałągi, temperatura, wiatr, kluczbork, wołczyn, prognoza, wilgotność, meteorologiczna, szkoła, podstawowa, rcre, opolskie')
  body    
    header.blockShadow
      ul#logoSun
        li
        li
        li
      #title
        h1 Pogoda Skałągi
        //h2 Szkoła Podstawowa - 51.051290N 18.11788E
    script(src="js/libs/jquery/dist/jquery.js")
    script(data-main="js/main.js" src="js/libs/requirejs/require.js")