h1 Podstawowe
p podstawowe
	span#podstawowe wczytywanie

p temperatureCurrent
	span#temperatureCurrent wczytywanie
p temperatureReal
	span#temperatureReal wczytywanie
p temperatureDewPoint
	span#temperatureDewPoint wczytywanie
p temperatureTrend
	span#temperatureTrend wczytywanie
p temperatureAvg
	span#temperatureAvg wczytywanie

p humidity
	span#humidity wczytywanie

p pressureCurrent
	span#pressureCurrent wczytywanie
p pressureTrend
	span#pressureTrend wczytywanie

p rainCurrent
	span#rainCurrent wczytywanie
p rainSum
	span#rainSum wczytywanie

p windCurrentSpeed
	span#windCurrentSpeed wczytywanie
p windCurrentDir
	span#windCurrentDir wczytywanie
p windGustSpeed
	span#windGustSpeed wczytywanie
p windGustDir
	span#windGustDir wczytywanie	