#debug_podstawowe
	h1 Podstawowe
	p podstawowe 
		span#podstawowe null

	p temperatureCurrent 
		span#temperatureCurrent null
	p temperatureReal 
		span#temperatureReal null
	p temperatureDewPoint 
		span#temperatureDewPoint null
	p temperatureTrend 
		span#temperatureTrend null
	p temperatureAvg 
		span#temperatureAvg null

	p humidity 
		span#humidity null

	p pressureCurrent 
		span#pressureCurrent null
	p pressureTrend 
		span#pressureTrend null

	p rainCurrent 
		span#rainCurrent null
	p rainSum 
		span#rainSum null

	p windCurrentSpeed 
		span#windCurrentSpeed null
	p windCurrentDir 
		span#windCurrentDir null
	p windGustSpeed 
		span#windGustSpeed null
	p windGustDir 
		span#windGustDir null	