h1 Podstawowe
p 
	span#podstawowe wczytywanie

p 
	span#temperatureCurrent wczytywanie
p 
	span#temperatureReal wczytywanie
p 
	span#temperatureDewPoint wczytywanie
p 
	span#temperatureTrend wczytywanie
p 
	span#temperatureAvg wczytywanie

p 
	span#humidity wczytywanie

p 
	span#pressureCurrent wczytywanie
p 
	span#pressureTrend wczytywanie

p 
	span#rainCurrent wczytywanie
p 
	span#rainSum wczytywanie

p 
	span#windCurrentSpeed wczytywanie
p 
	span#windCurrentDir wczytywanie
p 
	span#windGustSpeed wczytywanie
p 
	span#windGustDir wczytywanie	