@import url("http://fonts.googleapis.com/css?family=Rajdhani:400,600&amp;subset=latin,latin-ext");

sunWidth = 4em

animation()
	animation arguments
	-webkit-animation arguments
	-moz-animation arguments
	-o-animation arguments

*
	box-sizing border-box
	
.blockShadow
	box-shadow 0 .2em .3em .2em rgba(0,0,0,.1)
	
body
	margin 1em 1.5em
	font-family 'Rajdhani', bold, sans-serif
	overflow-x hidden
	background #539DC2
	header
		display flex
		overflow hidden
		border-radius .3em
		background linear-gradient(to right, rgba(83,157,194,.5) 65%,rgba(67,141,201,.5))
		#logoSun
			width sunWidth
			height sunWidth
			margin-left (sunWidth/4)
			margin-right (sunWidth/4)
			display block
			list-style none
			transform rotate(180deg)
			animation rotation 25s ease-in-out infinite
			li
				top 0
				left 0
				width 100%
				height 100%
				opacity 0.6
				position absolute
				border-radius .25em
				background #fad335
				&:nth-child(1)
					transform rotate(60deg)
				&:nth-child(2)
					transform rotate(30deg)
				&:nth-child(3)
					transform rotate(0deg)
				@keyframes rotation
					0%
						transform rotate(0deg) 
		#title
			display flex
			flex-flow column
			justify-content center
			h1
				margin 0
				color #eee
				font-size 3.5em