@import url("http://fonts.googleapis.com/css?family=Rajdhani:400,600&amp;subset=latin,latin-ext");

sunWidth = 4em
thermometerColor = #f42
borderRound()
	border-radius .25em

animation()
	animation arguments
	-webkit-animation arguments
	-moz-animation arguments
	-o-animation arguments

	box-sizing border-box
	
.blockShadow
	box-shadow 0 .2em .3em .2em rgba(0,0,0,.1)
	
body
	margin 1em 1.5em
	overflow-x hidden
	background #539DC2
	font-family 'Rajdhani', bold, sans-serif
	header
		@extend .blockShadow
		display flex
		overflow hidden
		border-radius .3em
		background linear-gradient(to right, rgba(83,157,194,.5) 65%,rgba(67,141,201,.5))
		#logoSun
			width sunWidth
			height sunWidth
			margin-left (sunWidth/4)
			margin-right (sunWidth/4)
			display block
			list-style none
			transform rotate(180deg)
			animation rotation 25s ease-in-out infinite
			li
				top 0
				left 0
				width 100%
				height 100%
				opacity 0.6
				position absolute
				background #fad335
				borderRound()
				&:nth-child(1)
					transform rotate(60deg)
				&:nth-child(2)
					transform rotate(30deg)
				&:nth-child(3)
					transform rotate(0deg)
				@keyframes rotation
					0%
						transform rotate(0deg) 
		#title
			display flex
			flex-flow column
			justify-content center
			h1
				margin 0
				color #eee
				font-size 3.5em
				
.sect
	z-index -5
	color #222
	padding .5em
	background #eee
	overflow hidden
	display flex
	flex-flow column
	align-items center
	h1
		margin 0
			
.thermometer
			width 4.5em
			height 24em
			display flex
			padding .5em
			padding-top 2em
			background #fff
			border-radius 4em
			margin-bottom 6em
			position relative
			justify-content center
			.bottom
				top 90%
				width 35%
				height 32%
				content ''
				background #fff
				position absolute	
				border-radius 2em
				overflow hidden
				left 50% - (@width/2)
			&:after				
				content ''
				position absolute
				top -1.9%
				left 56%
				width 110%
				height 135%
				z-index 3
				transform skew(25deg) rotate(25deg)
				background rgba(0,0,0,.1)
			.sensor
				z-index 2
				width 15%
				height 107.5%
				position relative
				borderRound()
				background #eee
				&:before
					top 97%
					width 150%
					height 18%
					content ''
					background thermometerColor
					position absolute	
					border-radius 2em
					left 49.5% - (@width/2)	
				.sensorVal
					position absolute
					bottom 0 
					left 0
					width 100%
					height 70%
					background thermometerColor						
			.measure
				position absolute
				height 85%
				width 20%
				z-index 2
				left 0
				display flex
				flex-flow column				
				.line
					position relative
					background #444	
					flex-grow 1
					margin-top .5em
					width 90%
				.boldLine
					width 150%
					p
						position absolute
						right 160%
						top -200%
						padding .25em
						margin 0
						background #fff
						&:after
							content ''
							width 100%
							height 100%
							background #fff
							transform rotate(45deg)
							top 0
							left 25%
							z-index -1
							position absolute
				
.compassSect
	.compass
		width 13em
		height 13em
		background #ddd
		border-radius 50%
							
#dashboard
	display flex
	margin .5em	
	justify-content space-around
	#tempSect
		@extend .sect, .blockShadow
	#windSect
	  #currentCompass
		@extend .compassSect, .sect, .blockShadow