#tempSect.blockShadow
	h1 Temperatura
	p Dziś temperatura wynosi: 
		span#temperatureAvg
		°C
	//#cos
		span#temperatureCurrent
		span#temperatureReal 
		span#temperatureDewPoint
		span#temperatureTrend

	.thermometer
		.measure
			-for(var i=30;i--;)
				-if(i % 5 == 0)
					div.line.boldLine
				-else
					.line
		.sensor
		.bottom
