@import 'main'
@import 'flow'

.button
  border 0
  margin .25em
  padding .5em 1em
  outline none

  color color
  background #fff
  shadow(.5)
  cursor pointer
  niceHover()

  &:hover
    color #eee
    shadow(.6)
    background color + 25%

  &:active
    shadow(0)
    transition .2s
    background #eee
    transform scale(.9)

button()
  button
    @extend .button
