body {
    margin: 0;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
#welcome {
    background: #f6f6f6;
    -webkit-box-shadow:0 0 10px rgba(255, 255, 255, 0.5);
    -moz-box-shadow:0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow:0 0 10px rgba(255, 255, 255, 0.5);
    font-size: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#welcome span {
    font-size: .45em;
    margin-right: .5em;
}


/* Main */
main {
    margin-top: 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

aside {
    width: 33%;
}

/* desc article */
aside article {
    background: #dadada;
    padding: .3em;
    border: .1em solid;
}

aside #powered-by {
    margin-top: 1em;
    background: #fff;
    opacity: .6;
    text-align: center;
}

aside #powered-by img {
    width: 64px;
    height: 64px;
    margin: 0 .75em;
}

/* navi */
menu {
    counter-reset: a; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

menu a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

menu a:before{
    content: counter(a);
    counter-increment: a;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

menu a:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

menu a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;
}

pre {
    width: 65%;
    word-wrap: break-word;
}
