<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8"/>
    <title>Weather admin | Login</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 0;
        }

        form {
            margin: auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column
        }

        input {
            margin: .8em 0;
            width: auto !important;
        }

        div.alert {
            margin-bottom: 2em;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack:justify;
            -webkit-justify-content:space-between;
            -ms-flex-pack:justify;
            justify-content:space-between;
        }
    </style>
</head>

<body>
    <div class="alert {{ authError ? 'alert-danger' : 'alert-info' }}">
        <span style="font-weight: 600;">Weather station admin.</span>
        {% if authError %}
            {{ authError.messageKey|trans(authError.messageData, 'messages') }}
        {% else %}
             Please enter your login details.
        {% endif %}
    </div>

    <form action="{{ path('syntax_error_api_admin_login_check') }}" method="POST">
        <input type="text" placeholder="Użytkownik" id="username" name="_username" value="{{ lastUserName }}" required class="form-control"/>
        <input type="password" placeholder="Hasło" id="password" name="_password" required class="form-control"/>
        <input type="submit" class="btn btn-primary" value="Login"/>
    </form>

</body>
</html>

