doctype html
html
  include asset/head
  body
    include asset/header
    #dashboard
      include asset/temp
      include asset/wind
      include asset/rain
      include asset/forecast
      //include asset/json
        //h2 Szkoła Podstawowa - 51.051290N 18.11788E
    //script(data-main="js/main.js" src="js/libs/requirejs/require.js")
