{% extends "base.html.twig" %}

{% block h1 %}
    <span style="float: right; font-size: 21px; color: #df1212">Zanotowana ekstremalnie {{ type }} temperatura!</span>
{% endblock %}

{% block big %}
    {% if type == 'niska' %}
        {% set time = record.mintime|date("H:i:s") %}
        {% set value = record.min|round(2) %}
    {% else %}
        {% set time = record.maxtime|date("H:i:s") %}
        {% set value = record.max|round(2) %}
    {% endif %}

    Dzisiaj o godzinie {{ time }} zanotowano temperaturę {{ value }}℃. <br/>Jest to najwyższa temperatura w tym {{ period }}.
{% endblock %}


{% block small %}
    Zalecamy ogarniczenie czasu spędzanego na zewnątrz.
{% endblock %}
