{% extends "base.html.twig" %}

{% block h1 %}
    <span style="float: right; font-size: 21px; color: #df1212">Zanotowany ekstremalnie silny wiatr!</span>
{% endblock %}

{% block big %}
    {% set time = record.maxtime|date("H:i:s") %}
    {% set value = record.max|round(3) %}

    Dzisiaj o godzinie {{ time }} zanotowano porywy wiatru {{ translatedDir }} o prędkości {{ value }}km/h. <br/>
    Tak silnego wiatru nie było od {{ period }}.
{% endblock %}


{% block small %}
    Zalecamy ogarniczenie czasu spędzanego na zewnątrz i zabezpieczenie lekkich przedmiotów.
{% endblock %}
