header
	#logo
		ul#logoSun
			-for(var i = 3; i--;)
				li
		#title
			h1 Pogoda Skałągi
	nav
		a(href="/") Teraz
		a(href="/pogoda-dnia") Dzisiaj
		a(href="/pogoda-miesiaca") W miesiącu
		a(href="/pogoda-roku") W roku
		a(href="/wybierz-zakres") Archiwum
		a(href="/api" target="_blank") aPi
