@import '~flexstyl/index'

color = #539DC2

.blockShadow
  box-shadow 0 .2em .3em .2em rgba(0,0,0,.1)

shadow(x)
  repeat = (.2em * x)
  box-shadow 0 repeat (.3em * x) repeat rgba(0,0,0,.1)

select
  background #fff
  cursor pointer
  outline none
  border 0
  padding .5em
  border-radius .25em
  shadow(.5)
  transition .5s
  border .1em solid transparent
  &:hover
    border .1em solid color
  &:disabled
    shadow 0
    color #555
    cursor progress
    border-color transparent

.sect
  color #222
  padding .5em
  background #eee
  overflow hidden
  @extend .flex-line, .fcolumn, .acenter
  h1
    margin 0
