{% extends "SyntaxErrorApiBundle::base.html.twig" %}

{% block desc %}
    Basic information refreshed every 5 minutes.<br/><br/>
    You can decide what you want to see through the url,<br/>eg.
    {% set url = "http://" ~ app.request.host ~ path('syntax_error_api_basic_now') ~ "?wind&rain" %}
    <a href="{{ path('syntax_error_api_basic_now') ~ "?wind&rain" }}">{{ url }}</a> return only wind and rain data.
{% endblock %}
